<% if @stayhotel.errors.any? %>
  <div class="alert_outer" role="alert">
    <h2><%= pluralize(stayhotel.errors.count, "件") %> のエラーが発生したため保存されませんでした。</h2>
    <div class="b01">
      <% stayhotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  </div>
<% end %>
